"Library/" 
"Temp/" 
"Obj/" 
"Build/" 
"Builds/" 
"Logs/" 
"UserSettings/" 
"ExportedObj/" 
".vs/" 
".vscode/" 
".idea/" 
"*.csproj" 
"*.sln" 
"*.user" 
"*.unityproj" 
"*.pidb" 
"*.booproj" 
"*.svd" 
"*.pdb" 
"*.mdb" 
"*.opendb" 
"*.VC.db" 
"*.pidb.meta" 
"*.pdb.meta" 
"*.mdb.meta" 
"*.apk" 
"*.aab" 
"*.unitypackage" 
"crash-reports/" 
".gradle/" 
".tmp/" 
"Library/" 
"Temp/" 
"Obj/" 
"Build/" 
"Builds/" 
"Logs/" 
"UserSettings/" 
"ExportedObj/" 
".vs/" 
".vscode/" 
".idea/" 
"*.csproj" 
"*.sln" 
"*.user" 
"*.unityproj" 
"*.pidb" 
"*.booproj" 
"*.svd" 
"*.pdb" 
"*.mdb" 
"*.opendb" 
"*.VC.db" 
"*.pidb.meta" 
"*.pdb.meta" 
"*.mdb.meta" 
"*.apk" 
"*.aab" 
"*.unitypackage" 
"crash-reports/" 
".gradle/" 
".tmp/" 
